/**
 *	Mix-ins
 *	@version 1.0
 *	@description Less mix-ins to make development easier.
 */

///////////////////////////////////////////////////////////////////////////////
// MISC.

.line-clamp(@lines, @line-height){
	display: block;
	display: -webkit-box;
	-webkit-line-clamp: @lines;
	-webkit-box-orient: vertical;
	overflow: hidden;
	line-height: @line-height;
	height: @lines * @line-height;
}

.default-margin(){
	margin:@default-margin;
}

.clearfix() {
	zoom:1;
	&:before, &:after{ content:""; display:table; }
	&:after{ clear: both; }
}

.opacity(@opacity) {
	/* Theoretically for IE 8 & 9 (more valid) */
	/* ...but not required as filter works too */
	/* should come BEFORE filter */
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=@{opacity * 100}))"; // IE8

	/* This works in IE 8 & 9 too */
	/* ... but also 5, 6, 7 */
	filter: ~"alpha(opacity=@{opacity * 100})";

	/* Modern Browsers */
	opacity: @opacity;
}

.user-select(@a:none){
	-webkit-touch-callout: @a;
	-webkit-user-select: @a;
	-khtml-user-select: @a;
	-moz-user-select: @a;
	-ms-user-select: @a;
	user-select: @a;
}


///////////////////////////////////////////////////////////////////////////////
// Webkit DIV Scrolling

.overflow-scroll(){
	#app:not(.prevent-overflow-scroll) &{
		-webkit-overflow-scrolling: touch;
	}
	overflow: auto;
}

.overflow-y-scroll(){
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}


///////////////////////////////////////////////////////////////////////////////
// Box Model

.border-box() {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.box-sizing (@type: border-box) {
	-webkit-box-sizing: @type;
	-moz-box-sizing:    @type;
	box-sizing:         @type;
}


.border-radius (@radius: 5px) {
	-webkit-border-radius: @radius;
	-moz-border-radius:    @radius;
	border-radius:         @radius;

	-moz-background-clip:    padding;
	-webkit-background-clip: padding-box;
	background-clip:         padding-box;
}


///////////////////////////////////////////////////////////////////////////////
// Shadows

.box-shadow (@string) {
	-webkit-box-shadow: @string;
	-moz-box-shadow:    @string;
	box-shadow:         @string;
}

.drop-shadow (@x: 0, @y: 1px, @blur: 2px, @spread: 0, @alpha: 0.25) {
	-webkit-box-shadow:	@x @y @blur @spread rgba(0, 0, 0, @alpha);
	-moz-box-shadow:	@x @y @blur @spread rgba(0, 0, 0, @alpha);
	box-shadow:		@x @y @blur @spread rgba(0, 0, 0, @alpha);
}


///////////////////////////////////////////////////////////////////////////////
// Forms

.placeholder(@color: @grayLight) {
	&:-moz-placeholder { color: @color; } // Firefox 4-18
	&::-moz-placeholder { color: @color; } // Firefox 19+
	&:-ms-input-placeholder { color: @color; } // Internet Explorer 10+
	&::-webkit-input-placeholder { color: @color; } // Safari and Chrome
}


///////////////////////////////////////////////////////////////////////////////
// Transitions

.transition(@transition) {
	-webkit-transition: @transition;
	-moz-transition: @transition;
	-ms-transition: @transition;
	-o-transition: @transition;
	transition: @transition;
}
.transform(@transform) {
	-webkit-transform: @transform;
	-moz-transform: @transform;
	-ms-transform: @transform;
	-o-transform: @transform;
	transform: @transform;
}
.translate2d(@x:0, @y:0){
	-webkit-transform: translate(@x,@y);
	-moz-transform: translate(@x,@y);
	-ms-transform: translate(@x,@y);
	-o-transform: translate(@x,@y);
	transform: translate(@x,@y);
}
.translate3d(@x:0, @y:0, @z:0){
	-webkit-transform: translate3d(@x,@y,@z);
	transform: translate3d(@x,@y,@z);
}
.transition-delay(@ms:500ms){
	-webkit-transition-delay: @ms;
	transition-delay: @ms;
}
.transform-origin(@p1:50%, @p2:50%){
	-webkit-transform-origin: @p1 @p2;
	transform-origin: @p1 @p2;
}
.perspective(@per:1500px){
	-webkit-perspective: @per;
	perspective: @per;
}
.anim-transition(@ms:250ms) {
	-webkit-transition: -webkit-transform @ms, opacity @ms;
	transition: transform @ms, opacity @ms;
	-webkit-backface-visibility: visible;
}


///////////////////////////////////////////////////////////////////////////////
// Gradients

.grad-2(@color-1){
	@color-2:darken(@color-1, 10%);
	.grad-2(@color-1,@color-2);
}

.grad-3(@color-1){
	@color-2:darken(@color-1, 10%);
	//@color-3:lighten(@color-1, 20%);
	//.grad-3(@color-1,@color-2,@color-3);
	.grad-3(@color-1,@color-2,@color-1);
}

.grad-3(@color-1,@reverse) when(@reverse=true){
	@color-2:lighten(@color-1, 10%);
	.grad-3(@color-1,@color-2,@color-1);
}

.grad-4(@color-1){
	@color-2:darken(@color-1, 5%);
	@color-3:lighten(@color-1, 6%);
	@color-4:lighten(@color-1, 5%);
	.grad-4(@color-1,@color-2,@color-3,@color-4);
}

.grad-2(@color-1,@color-2){
	background: @color-1;
	background: -moz-linear-gradient(top,@color-1 0,@color-2 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,@color-1),color-stop(100%,@color-2));
	background: -webkit-linear-gradient(top,@color-1 0,@color-2 100%);
	background: -o-linear-gradient(top,@color-1 0,@color-2 100%);
	background: -ms-linear-gradient(top,@color-1 0,@color-2 100%);
	background: linear-gradient(to bottom,@color-1 0,@color-2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@color-1',endColorstr='@color-2',GradientType=0);
}

.grad-2(@color-1,@color-2,@url){

	background:url("@{url}"), linear-gradient(bottom, @color-1 0%, @color-2 100%);
	background:url("@{url}"), -o-linear-gradient(bottom, @color-1 0%, @color-2 100%);
	background:url("@{url}"), -moz-linear-gradient(bottom, @color-1 0%, @color-2 100%);
	background:url("@{url}"), -webkit-linear-gradient(bottom, @color-1 0%, @color-2 100%);
	background:url("@{url}"), -ms-linear-gradient(bottom, @color-1 0%, @color-2 100%);

	background:url("@{url}"), -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, @color-1),
		color-stop(1, @color-2)
	);
}

.grad-3(@color-1,@color-2,@color-3){
	background-image: linear-gradient(bottom, @color-1 0%, @color-2 50%, @color-3 100%);
	background-image: -o-linear-gradient(bottom, @color-1 0%, @color-2 50%, @color-3 100%);
	background-image: -moz-linear-gradient(bottom, @color-1 0%, @color-2 50%, @color-3 100%);
	background-image: -webkit-linear-gradient(bottom, @color-1 0%, @color-2 50%, @color-3 100%);
	background-image: -ms-linear-gradient(bottom, @color-1 0%, @color-2 50%, @color-3 100%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, @color-1),
		color-stop(0.5, @color-2),
		color-stop(1, @color-3)
	);
}

.grad-4(@color-1,@color-2,@color-3,@color-4,@mid:49){
	@mid-2:@mid+2;
	background-image: linear-gradient(bottom, @color-1 0%, @color-2 ~"@{mid}%", @color-3 ~"@{mid-2}%", @color-3 100%);
	background-image: -o-linear-gradient(bottom, @color-1 0%, @color-2 ~"@{mid}%", @color-3 ~"@{mid-2}%", @color-3 100%);
	background-image: -moz-linear-gradient(bottom, @color-1 0%, @color-2 ~"@{mid}%", @color-3 ~"@{mid-2}%", @color-3 100%);
	background-image: -webkit-linear-gradient(bottom, @color-1 0%, @color-2 ~"@{mid}%", @color-3 ~"@{mid-2}%", @color-3 100%);
	background-image: -ms-linear-gradient(bottom, @color-1 0%, @color-2 ~"@{mid}%", @color-3 ~"@{mid-2}%", @color-3 100%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, @color-1),
		color-stop(~"0.@{mid}", @color-2),
		color-stop(~"0.@{mid-2}", @color-3),
		color-stop(1, @color-4)
	);
}
