@font-face {
    font-family: 'sansation';
    src: url(Sansation-Light.ttf);
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'sansation';
    src: url(Sansation-Bold.ttf);
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'sansation';
    src: url(Sansation-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'sansation';
    src: url(Sansation-LightItalic.ttf);
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'sansation';
    src: url(Sansation-Italic.ttf);
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'sansation';
    src: url(Sansation-BoldItalic.ttf);
    font-weight: bold;
    font-style: italic;
}