
    body {
        margin-top: 50px;
        
    }

    .glyphicon {
        margin-right: 10px;
    }

    .panel-body {
        padding: 0px;
        border-left: solid 4px pink;
    }

    .panel-body table tr td {
        padding-left: 15px
    }

    .panel-body .table {
        margin-bottom: 0px;
    }

    .panel-default>.panel-heading {
        background: white;
    }

    td>a {
        float: right;
    }

    .panel-title span {
        float: right;
    }

    .gly-rotate-90 {
        filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }

    body {
        margin: 30px 0px;
    }

    .user {
        display: inline-block;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        float: right;
        margin-left: 15px;
    }

    .panel-default>.panel-heading {
        height: 41px;
    }

    .panel-group .panel+.panel {
        margin-top: -2px;
    }



    .one {
        background-image: url('https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg');
    }

    .two {
        background-image: url('https://content-static.upwork.com/uploads/2014/10/01073435/profilephoto5.jpg');
    }

    .three {
        background-image: url('https://content-static.upwork.com/uploads/2014/10/02123010/profile-photo_friendly.jpg');
    }

    .four {
        background-image: url('https://content-static.upwork.com/blog/uploads/sites/4/2016/11/01071306/Amy-Sept-profile.jpg');
    }

    .five {
        background-image: url("https://content-static.upwork.com/uploads/2014/10/01073427/profilephoto1.jpg");
    }

    .s-men>tbody>tr>td,
    .s-men-men>tbody>tr>th,
    .s-men>tfoot>tr>td,
    .s-men>tfoot>tr>th,
    .s-men>thead>tr>td,
    .s-men>thead>tr>th {
        padding: 0px;
    }

    .s-men tr td {
        border-right: 1px solid grey;
        width: 33%;
    }

    .bar-color-blue {
        background-color: blue;
    }

    .bar-color-pink {
        background-color: pink;
    }

    .bar-color-yellow {
        background-color: yellow;
    }

    .bar-color-grey {
        background-color: #777;
    }

    .bar-color-sky {
        background-color: #5bc0de;
    }
    .bar-head{
        width: 50% ;margin:5px;width: 215%;margin: 5px;z-index: 1;float: left;
    }
    .bar1{
        width: 50% ;margin:5px;width: 115%;margin: 5px;z-index: 1;float: left
    }
    .bar2{
        width: 50% ;margin:5px;width: 110%;margin: 5px;z-index: 1;float: left
    }
    .bar3{
        width: 50% ;margin:5px;
    }
    .bar4{

    }
    .table-head{
        text-align: center;width: 33% ;border-right:1px solid grey
    }
    .col-md-9{
        margin-left: -31px;
    }
    .col-md-9 > .panel-group{
        margin-bottom: 3px;
    }
    .panel-group-table{
        margin-bottom: 3px;
    }
