@black: #000;
@grey: #ccc;
@grey-dark: #333;
@white: #fff;

@red: #ff0000;
@orange: #ffd700;
@teal: #00cccc;
@teal-light: #54c6c6;
@blue-light: #86a5d9;
@yellow-green: #c7d77e;

@transparent: rgba(0, 0, 0, 0);
