@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?6j95s7');
  src:  url('fonts/icomoon.eot?6j95s7#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?6j95s7') format('truetype'),
    url('fonts/icomoon.woff?6j95s7') format('woff'),
    url('fonts/icomoon.svg?6j95s7#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-add-user:before {
  content: "\e900";
}
.icon-bar_chart:before {
  content: "\e901";
}
.icon-envelope:before {
  content: "\e902";
}
.icon-food:before {
  content: "\e903";
}
.icon-gym-dumbbell-black-silhouette:before {
  content: "\e904";
}
.icon-home:before {
  content: "\e905";
}
.icon-home-button:before {
  content: "\e906";
}
.icon-left_truck:before {
  content: "\e907";
}
.icon-medal:before {
  content: "\e908";
}
.icon-messageSend:before {
  content: "\e909";
}
.icon-people:before {
  content: "\e90a";
}
.icon-people-1:before {
  content: "\e90b";
}
.icon-person:before {
  content: "\e90c";
}
.icon-profile .path1:before {
  content: "\e90d";
  color: rgb(115, 131, 191);
}
.icon-profile .path2:before {
  content: "\e90e";
  margin-left: -1em;
  color: rgb(85, 96, 128);
}
.icon-right_truck:before {
  content: "\e90f";
}
.icon-route:before {
  content: "\e910";
}
.icon-running-man:before {
  content: "\e911";
}
.icon-school:before {
  content: "\e912";
}
.icon-sleeping:before {
  content: "\e913";
}
.icon-star:before {
  content: "\e914";
}
.icon-tick-mark:before {
  content: "\e915";
}
.icon-trophy:before {
  content: "\e916";
}
.icon-trophy-cup .path1:before {
  content: "\e917";
  color: rgb(230, 126, 34);
}
.icon-trophy-cup .path2:before {
  content: "\e918";
  margin-left: -1em;
  color: rgb(230, 126, 34);
  opacity: 0.56;
}
.icon-trophy-cup .path3:before {
  content: "\e919";
  margin-left: -1em;
  color: rgb(255, 194, 0);
}
.icon-trophy-cup .path4:before {
  content: "\e91a";
  margin-left: -1em;
  color: rgb(216, 159, 0);
}
.icon-trophy-cup .path5:before {
  content: "\e91b";
  margin-left: -1em;
  color: rgb(255, 168, 0);
}
.icon-trophy-cup .path6:before {
  content: "\e91c";
  margin-left: -1em;
  color: rgb(216, 140, 5);
}
.icon-trophy-cup .path7:before {
  content: "\e91d";
  margin-left: -1em;
  color: rgb(255, 194, 0);
}
.icon-trophy-cup .path8:before {
  content: "\e91e";
  margin-left: -1em;
  color: rgb(219, 161, 0);
}
.icon-trophy-cup .path9:before {
  content: "\e91f";
  margin-left: -1em;
  color: rgb(94, 69, 52);
}
.icon-trophy-cup .path10:before {
  content: "\e920";
  margin-left: -1em;
  color: rgb(68, 49, 36);
}
.icon-trophy-cup .path11:before {
  content: "\e921";
  margin-left: -1em;
  color: rgb(255, 168, 0);
}
.icon-trophy-cup .path12:before {
  content: "\e922";
  margin-left: -1em;
  color: rgb(255, 168, 0);
  opacity: 0.49;
}
.icon-user .path1:before {
  content: "\e923";
  color: rgb(252, 208, 159);
}
.icon-user .path2:before {
  content: "\e924";
  margin-left: -1em;
  color: rgb(239, 128, 111);
}
.icon-user .path3:before {
  content: "\e925";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-user .path4:before {
  content: "\e926";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-user .path5:before {
  content: "\e927";
  margin-left: -1em;
  color: rgb(30, 166, 198);
}

