<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<style type="text/css">
    body {
        margin-top: 50px;
        
    }

    .glyphicon {
        margin-right: 10px;
    }

    .panel-body {
        padding: 0px;
        border-left: solid 4px pink;
    }

    .panel-body table tr td {
        padding-left: 15px
    }

    .panel-body .table {
        margin-bottom: 0px;
    }

    .panel-default>.panel-heading {
        background: white;
    }

    td>a {
        float: right;
    }

    .panel-title>span {
        float: right;
    }

    .gly-rotate-90 {
        filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }

    body {
        margin: 30px 0px;
    }

    .user {
        display: inline-block;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        float: right;
        margin-left: 15px;
    }

    .panel-default>.panel-heading {
        height: 41px;
    }

    .panel-group .panel+.panel {
        margin-top: -2px;
    }



    .one {
        background-image: url('https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg');
    }

    .two {
        background-image: url('https://content-static.upwork.com/uploads/2014/10/01073435/profilephoto5.jpg');
    }

    .three {
        background-image: url('https://content-static.upwork.com/uploads/2014/10/02123010/profile-photo_friendly.jpg');
    }

    .four {
        background-image: url('https://content-static.upwork.com/blog/uploads/sites/4/2016/11/01071306/Amy-Sept-profile.jpg');
    }

    .five {
        background-image: url("https://content-static.upwork.com/uploads/2014/10/01073427/profilephoto1.jpg");
    }

    .s-men>tbody>tr>td,
    .s-men-men>tbody>tr>th,
    .s-men>tfoot>tr>td,
    .s-men>tfoot>tr>th,
    .s-men>thead>tr>td,
    .s-men>thead>tr>th {
        padding: 0px;
    }

    .s-men tr td {
        border-right: 1px solid grey;
        width: 33%;
    }

    .bar-color-blue {
        background-color: blue;
    }

    .bar-color-pink {
        background-color: pink;
    }

    .bar-color-yellow {
        background-color: yellow;
    }

    .bar-color-grey {
        background-color: #777;
    }

    .bar-color-sky {
        background-color: #5bc0de;
    }
    .bar-head{
        width: 50% ;margin:5px;width: 215%;margin: 5px;z-index: 1;float: left;
    }
    .bar1{
        width: 50% ;margin:5px;width: 115%;margin: 5px;z-index: 1;float: left
    }
    .bar2{
        width: 50% ;margin:5px;width: 110%;margin: 5px;z-index: 1;float: left
    }
    .bar3{
        width: 50% ;margin:5px;
    }
    .bar4{

    }
    .table-head{
        text-align: center;width: 33% ;border-right:1px solid grey
    }
    .col-md-9{
        margin-left: -31px;
    }
    .col-md-9 > .panel-group{
        margin-bottom: 3px;
    }
    panel-group-table{
        margin-bottom: 3px;
    }
</style>
<script type="text/javascript">
    $(document).ready(function() {
        $(".group-list").click(function() {
            $(this).next().toggleClass('gly-rotate-90')
            console.log($(this).attr('href'));
            var val = $(this).attr('href')
            //val=val.split('#')[1]
            $('.s-men').parent().parent().removeClass('in')
            if ($(val).hasClass('in')) {
                $(val + 'p').removeClass('in')
            } else {
                $(val + 'p').addClass('in')
            }



        });
    });
</script>
<div class="container">
    <div class="row">
        <div class="col-sm-3 col-md-3">
            <div class="panel-group">
                <div class="col-md-12"></div>
            </div>
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class='group-list'>Annual Pay Reviwes</a><span class="glyphicon glyphicon-menu-down gly-rotate-90">
                            </span>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <div class="user two"></div>
                                        <a href="">aman</a>
                                    </td>

                                </tr>
                                <tr>
                                    <td>
                                        <div class="user five"></div>
                                        <a href="">ashish</a>

                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="user three"></div>
                                        <a href="">amit</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="user four"></div>
                                        <a href="">avi</a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse2" class='group-list'>Annual Pay Reviwes</a><span class="glyphicon glyphicon-menu-down  ">
                            </span>
                        </h4>
                    </div>
                    <div id="collapse2" class="panel-collapse collapse ">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <div class="user two"></div>
                                        <a href="">aman</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="user five"></div>
                                        <a href="">ashish</a>

                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="user three"></div>
                                        <a href="">amit</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="user four"></div>
                                        <a href="">avi</a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse3" class='group-list'>Talent Scouting</a><span class="glyphicon glyphicon-menu-down ">
                            </span>
                        </h4>
                    </div>
                    <div id="collapse3" class="panel-collapse collapse ">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <div class="user two"></div>
                                        <a href="">aman</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="user five"></div>
                                        <a href="">ashish</a>

                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="user three"></div>
                                        <a href="">amit</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="user four"></div>
                                        <a href="">avi</a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse4" class='group-list'>Employee Reward Renewal</a><span class="glyphicon glyphicon-menu-down ">
                            </span>
                        </h4>
                    </div>
                    <div id="collapse4" class="panel-collapse collapse ">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <div class="user two"></div>
                                        <a href="">aman</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="user five"></div>
                                        <a href="">ashish</a>

                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="user three"></div>
                                        <a href="">amit</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="user four"></div>
                                        <a href="">avi</a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse5" class='group-list'>HR Policies Reviwes</a><span class="glyphicon glyphicon-menu-down ">
                            </span>
                        </h4>
                    </div>
                    <div id="collapse5" class="panel-collapse collapse ">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <div class="user two"></div>
                                        <a href="">aman</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="user five"></div>
                                        <a href="">ashish</a>

                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="user three"></div>
                                        <a href="">amit</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="user four"></div>
                                        <a href="">avi</a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse6" class='group-list'>Performance Reviwes</a><span class="glyphicon glyphicon-menu-down ">
                            </span>
                        </h4>
                    </div>
                    <div id="collapse6" class="panel-collapse collapse ">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <div class="user two"></div>
                                        <a href="">aman</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="user five"></div>
                                        <a href="">ashish</a>

                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="user three"></div>
                                        <a href="">amit</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="user four"></div>
                                        <a href="">avi</a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-sm-9 col-md-9" >
            <div class="panel-group" >
                <table class="" style="width: 100%   ; margin-bottom: -1px;">
                    <tr>
                        <td class="table-head">Jan</td>
                        <td class="table-head">Feb</td>
                        <td class="table-head">March</td>
                    </tr>
                </table>
            </div>
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <table class="table s-men">
                            <tr>
                                <td>
                                    <a name="poll_bar"  class="btn btn-default btn btn-sm btn-success bar-head">115hrs/week</a>
                                </td>
                                <td>
                                </td>
                                <td>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div id="collapseOnep" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <table class="table s-men">
                                <tr>
                                    <td>
                                        <a name="poll_bar" class="btn btn-default btn btn-sm btn-success bar1">115hrs/Week </a>
                                    </td>
                                    <td>
                                    </td>
                                    <td>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a name="poll_bar"  class="btn btn-default btn btn-sm btn-success bar2">110hrs/Week </a>
                                    </td>
                                    <td>
                                    </td>
                                    <td>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                    </td>
                                    <td>
                                        <a name="poll_bar"  class="btn btn-default btn btn-sm btn-success bar3">50hrs/Week </a>
                                    </td>
                                    <td>

                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                    </td>
                                    <td>
                                        <a name="poll_bar" class="btn btn-default btn btn-sm btn-success bar1">115hrs/Week </a>
                                    </td>
                                    <td>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <table class="table s-men">
                            <tr>
                                <td>
                                    <a name="poll_bar"  class="btn btn-default btn btn-sm btn-success bar-color-sky bar-head">115hrs/week</a>
                                </td>
                                <td>
                                </td>
                                <td>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div id="collapse2p" class="panel-collapse collapse ">
                        <div class="panel-body">
                            <table class="table s-men">
                                <tr>
                                    <td>
                                        <a name="poll_bar" class="btn btn-default btn btn-sm btn-success bar-color-sky bar1">115hrs/Week </a>
                                    </td>
                                    <td>
                                    </td>
                                    <td>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a name="poll_bar" class="btn btn-default btn btn-sm btn-success bar-color-sky bar2">110hrs/Week </a>
                                    </td>
                                    <td>
                                    </td>
                                    <td>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                    </td>
                                    <td>
                                        <a name="poll_bar"  class="btn btn-default btn btn-sm btn-success bar-color-sky bar3">50hrs/Week </a>
                                    </td>
                                    <td>

                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                    </td>
                                    <td>
                                        <a name="poll_bar" class="btn btn-default btn btn-sm btn-success bar-color-sky bar1">115hrs/Week </a>
                                    </td>
                                    <td>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <table class="table s-men">
                            <tr>
                                <td>
                                    <a name="poll_bar"  class="btn btn-default btn btn-sm btn-success bar-head">115hrs/week</a>
                                </td>
                                <td>
                                </td>
                                <td>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div id="collapse3p" class="panel-collapse collapse ">
                        <div class="panel-body">
                            <table class="table s-men">
                                <tr>
                                    <td>
                                        <a name="poll_bar" class="btn btn-default btn btn-sm btn-success bar1">115hrs/Week </a>
                                    </td>
                                    <td>
                                    </td>
                                    <td>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a name="poll_bar" class="btn btn-default btn btn-sm btn-success bar2">110hrs/Week </a>
                                    </td>
                                    <td>
                                    </td>
                                    <td>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                    </td>
                                    <td>
                                        <a name="poll_bar"  class="btn btn-default btn btn-sm btn-success bar3">50hrs/Week </a>
                                    </td>
                                    <td>

                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                    </td>
                                    <td>
                                        <a name="poll_bar" class="btn btn-default btn btn-sm btn-success bar1">115hrs/Week </a>
                                    </td>
                                    <td>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <table class="table s-men">
                            <tr>
                                <td>
                                    <a name="poll_bar"  class="btn btn-default btn btn-sm btn-success bar-color-blue bar-head">115hrs/week</a>
                                </td>
                                <td>
                                </td>
                                <td>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div id="collapse4p" class="panel-collapse collapse ">
                        <div class="panel-body">
                            <table class="table s-men">
                                <tr>
                                    <td>
                                        <a name="poll_bar" class="btn btn-default btn btn-sm btn-success bar-color-blue bar1">115hrs/Week </a>
                                    </td>
                                    <td>
                                    </td>
                                    <td>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a name="poll_bar" class="btn btn-default btn btn-sm btn-success bar-color-blue bar2">110hrs/Week </a>
                                    </td>
                                    <td>
                                    </td>
                                    <td>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                    </td>
                                    <td>
                                        <a name="poll_bar"  class="btn btn-default btn btn-sm btn-success bar-color-blue bar3">50hrs/Week </a>
                                    </td>
                                    <td>

                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                    </td>
                                    <td>
                                        <a name="poll_bar" class="btn btn-default btn btn-sm btn-success bar-color-blue bar1">115hrs/Week </a>
                                    </td>
                                    <td>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <table class="table s-men">
                            <tr>
                                <td>
                                    <a name="poll_bar"  class="btn btn-default btn btn-sm btn-success bar-color-pink bar-head">115hrs/week</a>
                                </td>
                                <td>
                                </td>
                                <td>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div id="collapse5p" class="panel-collapse collapse ">
                        <div class="panel-body">
                            <table class="table s-men">
                                <tr>
                                    <td>
                                        <a name="poll_bar" class="btn btn-default btn btn-sm btn-success bar-color-pink bar1">115hrs/Week </a>
                                    </td>
                                    <td>
                                    </td>
                                    <td>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a name="poll_bar"  class="btn btn-default btn btn-sm btn-success bar-color-pink bar2">110hrs/Week </a>
                                    </td>
                                    <td>
                                    </td>
                                    <td>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                    </td>
                                    <td>
                                        <a name="poll_bar"  class="btn btn-default btn btn-sm btn-success bar-color-pink bar3">50hrs/Week </a>
                                    </td>
                                    <td>

                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                    </td>
                                    <td>
                                        <a name="poll_bar" class="btn btn-default btn btn-sm btn-success bar-color-pink bar1">115hrs/Week </a>
                                    </td>
                                    <td>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <table class="table s-men">
                            <tr>
                                <td>
                                    <a name="poll_bar"  class="btn btn-default btn btn-sm btn-success bar-color-grey bar-head">115hrs/week</a>
                                </td>
                                <td>
                                </td>
                                <td>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div id="collapse6p" class="panel-collapse collapse ">
                        <div class="panel-body">
                            <table class="table s-men">
                                <tr>
                                    <td>
                                        <a name="poll_bar" class="btn btn-default btn btn-sm btn-success bar-color-grey bar1">115hrs/Week </a>
                                    </td>
                                    <td>
                                    </td>
                                    <td>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a name="poll_bar" class="btn btn-default btn btn-sm btn-success bar-color-grey bar2">110hrs/Week </a>
                                    </td>
                                    <td>
                                    </td>
                                    <td>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                    </td>
                                    <td>
                                        <a name="poll_bar"  class="btn btn-default btn btn-sm btn-success bar-color-grey bar3">50hrs/Week </a>
                                    </td>
                                    <td>

                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                    </td>
                                    <td>
                                        <a name="poll_bar" class="btn btn-default btn btn-sm btn-success bar-color-grey bar1">115hrs/Week </a>
                                    </td>
                                    <td>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>